@use "./../../scss/variables";

.boost-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  background-image: var(--img-bg-boost);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: variables.$bg-components;

  .boost-title {
    font-size: 2.1rem;
    color: variables.$color-main;
    text-align: center;
  }

  .btn-get-started {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    color: variables.$color-main;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
